*{
    box-sizing: border-box ;
    padding: 0;
    margin: 0;
}
body{
   /* background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/5dd45df7-33f1-4274-97ea-e9c6aca69dad/ed1cb962-411d-4e43-bad2-33f07ae8e341/IN-en-20211108-popsignuptwoweeks-perspective_alpha_website_large.jpg"); */
   font-family: 'Roboto', sans-serif;
   
   
}
